:root {
    box-sizing: border-box;
    --input-vaild: green;
    --input-invaild:red;
    --input-focus:blue;
}

input:invalid{
    border-radius: 5px;
    border:2px solid var(--input-invaild);
}

input:valid{
    border-radius: 5px;
    border:2px solid var(--input-vaild);
}

input:focus{
    border:2px solid var(--input-focus);
}

.sign-up-form{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.sign-up-form > div{
    box-sizing: border-box;
    min-width:40%;
}

.sign-up-form > div > label{
    display: block;
}

.sign-up-form > div > input[type='password'] + div{
    width: fit-content;
    /* background-color: red; */
    box-shadow: 0 0 5px black;
}




